@import "~@arcgis/core/assets/esri/themes/light/main.css";

.list-view{
  position: absolute;
  top:30px;
  right: 35px;
}

.webmap {
  height: 100vh;
  width: 100%;
}
.filter-panel {
  z-index: 100;
  height: 100vh;
  width: 20%;

}
#slider {
  display: flex;
  height: 30vh;
  width: 100vh;
  visibility: hidden;
}
button:hover{
  background-color: white;
  color:black;
}
.button-on {
  color: white;
  background-color: blue;
  border-color: blue;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}
.button-off {
  color: blue;
  background-color: pink;
  border-color: blue;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}